{% extends 'base/base.html' %}


{% block title %}Saldo | Bank{% endblock %}

{% block content %}

            <div class="main-content">
                <div class="welcome-message">
                    <p>Login Terakhir Anda tanggal : 25/06/2014 15:21:00</p>
                    <h1>{{ customer.customer_name }}, Selamat Datang Di Internet Banking BCA</h1>
                    <p class="highlight-text">
                        UNTUK MENINGKATKAN KEAMANAN TRANSAKSI <br>
                        MOHON SEGERA DAFTARKAN NO HANDPHONE ANDA <br>
                        MELALUI ATM ATAU CABANG BCA TERDEKAT
                    </p>
                    <p class="small-text">
                        MOHON PASTIKAN NOMOR HANDPHONE YANG DIDAFARKAN ADALAH MILIK ANDA <br>
                        DAN TERKINI, AGAR KAMI DAPAT MENGIRIMKAN SMS KE NOMOR TERSEBUT
                    </p>
                    <p class="contact-info">
                        UNTUK INFO LEBIH LANJUT <br>
                        HUBUNGI HALO BCA DI 500888 ATAU (021) 500888 DARI PONSEL
                    </p>
                </div>
            </div>

            {% endblock %}