{% extends 'base/base.html' %}


{% block title %}Saldo | Bank{% endblock %}

{% block content %}

            <div class="main-content">
                <div class="balance-section">
                    <h2>ACCOUNT INFORMATION - BALANCE INQUIRY</h2>

                    <table class="balance-table">
                        <thead>
                            <tr>
                                <th>No. Rekening</th>
                                <th>Account Type</th>
                                <th>Mata Uang</th>
                                <th>Available Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for account in accounts %}
                                <tr>
                                    <td>{{ account.account_number }}</td>
                                    <td>{{ account.account_type }}</td>
                                    <td>{{ account.currency_code }}</td>
                                    <td>{{ account.available_balance }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>



{% endblock %}