{% extends 'base/base.html' %}


{% block title %}Saldo | Bank{% endblock %}

{% block content %}

            <div class="main-content">
                <div class="transfer-section">
                    <h2>TRANSFER DANA - TRANSFER KE REK. BCA</h2>
                    <form>
                        <table class="form-table">
                            <tr>
                                <td>DARI REKENING</td>
                                <td>:</td>
                                <td><input type="text" value="******" readonly></td>
                            </tr>
                            <tr>
                                <td>SILAKAN PILIH REKENING TUJUAN</td>
                                <td>:</td>
                                <td>
                                    <input type="radio" name="rekening_tujuan" value="sendiri"> REKENING SENDIRI<br>
                                    <input type="radio" name="rekening_tujuan" value="daftar" checked> DARI DAFTAR TRANSFER
                                </td>
                            </tr>
                            <tr>
                                <td>NAMA TUJUAN</td>
                                <td>:</td>
                                <td>
                                    <select>
                                        <option value="2106017899">2106017899 - TOMMIE HARYANTO</option>
                                        <!-- Add more options as needed -->
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>JUMLAH</td>
                                <td>:</td>
                                <td>Rp.<input type="text" value="87897"></td>
                            </tr>
                            <tr>
                                <td>BERITA</td>
                                <td>:</td>
                                <td>
                                    <input type="text" value="Pembayaran Domain"><br>
                                    <input type="text" value="Tagihan #763235">
                                </td>
                            </tr>
                            <tr>
                                <td>MASUKKAN 8 ANGKA INI PADA KEYBCA</td>
                                <td>:</td>
                                <td><input type="text" value="77017899"></td>
                            </tr>
                            <tr>
                                <td>PASTIKAN 6 ANGKA TERAKHIR SESUAI DENGAN NOMOR REKENING TUJUAN ANDA</td>
                                <td>:</td>
                                <td><input type="text" value="017899"></td>
                            </tr>
                            <tr>
                                <td>RESPON KEYBCA APPLI 2</td>
                                <td>:</td>
                                <td><input type="password"></td>
                            </tr>
                        </table>

                        <div class="submit-section">
                            <label for="jenis-transfer">JENIS TRANSFER</label><br>
                            <input type="radio" name="jenis_transfer" value="sekarang" checked> TRANSFER SEKARANG
                        </div>
                        
                        <div class="button-section">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endblock %}
